<h1>Explore Topics</h1>

<% if current_user %>
  <p> <%= link_to "Add Topic", new_topic_path %> </p>
<% end %>

<% @topics.each do |topic| %>
<div class="topic-list">
  <h2> <%= link_to "##{topic.title}", topic %> </h2>
  <% topic.bookmarks.first(4).each do |mark| %>
    <div class="marks">
      <%= link_to "#{mark.url}", topic_bookmark_url(topic, mark), :class => 'linked-text' %>
    </div>
  <% end %>
  </div>
<% end %>
