<h1> <%= "#" + @topic.title %> </h1>

<% if current_user %>
  <p>
     <%= link_to "Edit", edit_topic_path %> |
     <%= link_to "Remove", @topic, method: :delete, data: {confirm: "Are you sure you want to remove topic?  All bookmarks in topic will be removed as well"} %>
  </p>
<% end %>

<% if @topic.bookmarks.count > 0 %>
  <% @topic.bookmarks.each do |mark| %>
    <div class="marks">
      <%= mark.url %>
    </div>
  <% end %>
<% else %>
  <p> No bookmarks for this topic! </p>
<% end %>
