<h1>My Blocmarks</h1>
<% @bookmarks.each do |mark| %>
  <h2> <%= link_to "##{mark.topic.title}", mark.topic %> </h2>
  <div class="marks">
    <%= link_to "#{mark.url}", topic_bookmark_url(mark.topic, mark), :class => 'linked-text' %>
  </div>

<% end %>

<h1>Liked Blocmarks</h1>
<% @likes.each do |like| %>
  <div class="marks">
    <%= link_to "#{like.bookmark.url}", topic_bookmark_url(like.bookmark.topic, like.bookmark), :class => 'linked-text' %>
    <% if current_user %>
      <%= render partial: 'likes/like', locals: {bookmark: like.bookmark} %>
    <% end %>
  </div>
<% end %>
