.marks{
  display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
  border: 1px solid black;
  height: 250px;
  width: 250px;
  text-align: center;
}

.topic-list {
  padding-bottom: 50px;
  margin-bottom: 30px;
}
